/*
*	Main Styles
*	By: Edwin Fajardo. 
//		https://www.edwinfajardo.com
*	Date-Time: 2019-12-15 18:42
*	All right reserved.
*/
.menu_container
{
	overflow: hidden;
}

.menu_item
{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 20px;
	background-color: #f3f3f3;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
	border-radius: 3px;
	transition: transform 1s ease-out, opacity 1s ease-out;
}

.menu_item:hover
{
	background-color: #CAD3E3;
}

.menu_item:active
{
	background-color: #BAC3D3;
}

.menu_item img
{
	width: 40px;
	position: absolute;
	top: 15px;
	left: 30px;
}

.menu_item span
{
	display: block;
	position: absolute;
	width: 94px;
	text-align: center;
	top: 65px;
	left: 0px;
	padding: 3px;
	overflow: hidden;
	font-size: 9pt;
}

.menu_title
{
	background: linear-gradient(#d9d9ff, #ffffff 50%);
	border: 0px;
	border-top: 2px solid #6d6dd6;
	padding: 20px;
	color: #333333;
	font-weight: bold;
}

@media screen and (max-width: 799px)
{
	.menu_item
	{
		margin: 10px 5px;
	}

	.menu_container
	{
		text-align: center;
	}
}