<div class="details_content">
	<!-- embedded -->
	<div class="details_title no_print">
		_(System information)
		<a class="close_details" href="#"><img src="public/images/close.png"></a>
	</div>
	<!-- /embedded -->
	<div class="details_body">
		<div class="center">
			<img src="public/images/app_logo_light.png" class="company_logo">
		</div>
		<table class="show_details_table">
			<tbody>
				<tr>
					<td>_(Version)</td>
					<td>{{ version }}.{{ number }}</td>
				</tr>
				<tr>
					<td>_(App name)</td>
					<td>{{ app_name }}</td>
				</tr>
				<tr>
					<td>_(Last update)</td>
					<td>
						{{ last_update_ago }}.<br>{{ last_update }}
					</td>
				</tr>
			</tbody>
		</table>
		<h2>_(Contact and technical support)</h2>
		<h3>El Salvador</h3>
		<table class="show_details_table">
			<tbody>
				<tr>
					<td>Ing. Edwin Ernesto Fajardo Valenzuela<br>
					Full Stack Developer, _(member of) Red Teleinformática.<br>
					(503) 7719 7466<br>
					contacto@edwinfajardo.com</td>
				</tr>
			</tbody>
		</table>
		<table class="show_details_table">
			<tbody>
				<tr>
					<td>_(Website)</td>
					<td>
						<a href="https://www.edwinfajardo.com/">www.edwinfajardo.com</a>
					</td>
				</tr>
				<tr>
					<td>Facebook</td>
					<td>
						<a href="https://www.facebook.com/ing.EdwinFajardo">ing.EdwinFajardo</a>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>Costa Rica</h3>
		<table class="show_details_table">
			<tbody>
				<tr>
					<td>Ing. Eddys Eduardo Galeano Garc&iacute;a<br>
					_(Member and founder of) Red Teleinform&aacute;tica<br>
					(506) 7198 8646<br>
					galeano@redteleinformatica.com</td>
				</tr>
			</tbody>
		</table>
		<h3>_(Dependences)</h3>
		<p>_(This system makes use of the following resources):</p>
		<table class="show_details_table">
			<thead>
				<tr>
					<td>_(Dependence)</td>
					<td>_(Version)</td>
					<td class="pc_cell">_(Authors)</td>
					<td class="pc_cell">_(License type)</td>
				</tr>
			</thead>
			<tbody>
				[[ dependencies ]]
				<tr>
					<td><a href="{{ link }}">{{ name }}</a></td>
					<td>{{ version }}</td>
					<td class="pc_cell">{{ authors }}</td>
					<td class="pc_cell">{{ license }}</td>
				</tr>[[/ dependencies ]]
			</tbody>
		</table>
	</div>
	<div class="details_foot no_print">
		<button type="button" class="blue_button print_button" data-print=".details_body">
			<img src="public/images/outline/print.png" class="x-small_icon">
			_(Print)
		</button>
	</div>
</div>
