[[ switches ]]
<div class="form_entry">
	<label class="switch">
		<input type="checkbox" name="{{ option_key }}" class="update_ucheck" value="1">
		<span class="slider round"></span>
	</label>
	<span class="switch_span">{{ option_description }}</span>
</div>[[/ switches ]]
[[ fields ]]
<div class="form_entry">
	<label class="description_label">{{ option_description }}:</label>
	<input name="{{ option_key }}" maxlength="32" class="update_input default_width">
</div>[[/ fields ]]
[[ numbers ]]
<div class="form_entry">
	<label class="description_label">{{ option_description }}:</label>
	<input name="{{ option_key }}" type="number" min="0" max="127" class="update_input default_width">
</div>[[/ numbers ]]
[[ selectors ]]
<div class="form_entry">
	<label class="description_label">{{ option_description }}</label>
	<select class="data_selector update_input" name="{{ option_key }}" data-source="{{ option_key }}" data-search="none" data-placeholder="_(Select)"></select>
</div>
[[/ selectors ]]
