<!-- Incluir: src="public/images/checked.png" -->
<!-- Incluir: src="public/images/not_permitted.png" -->
		<tr>
			<th colspan="5">{{ module_name }}</th>
		</tr>
		[[ permissions ]]
		<tr>
			<td>{{ element_name }}</td>
			<td class="smallest_cell"><img src="public/images/{{ read }}.png" class="x-small_icon"></td>
			<td class="smallest_cell"><img src="public/images/{{ create }}.png" class="x-small_icon"></td>
			<td class="smallest_cell"><img src="public/images/{{ update }}.png" class="x-small_icon"></td>
			<td class="smallest_cell"><img src="public/images/{{ delete }}.png" class="x-small_icon"></td>
		</tr>[[/ permissions ]]
