<div class="list_options">
	<input class="data_search" type="text" placeholder="Escriba un criterio de b&uacute;squeda">
	<button class="link_button blue_button" data-href="/Ajustes/RegistrarUsuario/">Nuevo usuario</button>
	<button class="print_button blue_button" data-print=".data_viewer">Imprimir</button>
</div>
{{ print_header }}
<div class="content_viewer">
	<table class="data_viewer" data-source="content" id="users_table">
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Nombre completo</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			<tr class="template" data-id="{{user_id}}" data-href="{{ module }}/DetalleUsuario">
				<td>{{nickname}}</td>
				<td>{{user_name}}</td>
				<td>{{status}}</td>
			</tr>
		</tbody>
		<tfoot>

		</tfoot>
	</table>
	<div class="loading_data">
		<img src="public/images/loading.gif" class="medium_icon">
		<span>Cargando...</span>
	</div>
	<div class="loading_error">
		<img src="public/images/error.png" class="medium_icon">
		<span>
			&iexcl;Error!<br>
			No se ha podido cargar la p&aacute;gina.
		</span>
	</div>
</div>
<div id="add_user_dialog" class="dialog" title="Agregar usuario" data-reload="true">
	<div class="entry_info"></div>
	<form action="save_user" data-close_dialog="add_user_dialog">
		<div class="form_entry">
			<label>Nombre completo:</label>
			<input type="text" name="user_name" maxlength="64" required>
		</div>
		<div class="form_entry">
			<label>Usuario:</label>
			<input type="text" name="nickname" maxlength="32" required>
		</div>
		<div class="form_entry">
			<label>Contrase&ntilde;a:</label>
			<input type="password" name="password" maxlength="32" class="equal_value" required>
		</div>
		<div class="form_entry">
			<label>Confirmar contrase&ntilde;a:</label>
			<input type="password" name="confirm_password" maxlength="32" class="equal_value" required>
		</div>
		<div>
			<p>Dar acceso a:</p>
			[[ modules ]]
			<div class="checkbox_container">
				<label>{{ module_url }}
					<input type="checkbox" name="modules[]" value="{{ module_url }}" class="update_check" data-source="modules">
					<span class="checkmark"></span>
				</label>
			</div>[[/ modules ]]
		</div>
		<div class="hidden_entry">
			<label>&nbsp;</label>
			<button id="user_submit" type="submit">Guardar</button>
			<button type="reset">Cancelar</button>
		</div>
	</form>
	<div class="sending">
		<img src="public/images/loading.gif" class="small_icon">
		<span>Agregando...</span>
	</div>
	<div class="error">
		<img src="public/images/error.png" class="small_icon">
		<span>Error al guardar</span>
	</div>
	<div class="success">
		<img src="public/images/success.png" class="small_icon">
		<span>&Eacute;xito</span>
	</div>
</div>
