{{ print_header }}
<div class="details_content">
	<!-- embedded -->
	<div class="details_title no_print">
		_(User details)
		<a class="close_details" href="#"><img src="public/images/close.png"></a>
	</div>
	<!-- /embedded -->
	<div class="details_body">
		<div class="center">
			<div class="user_photo_container">
				<img class="user_photo" src="{{ user_photo }}" alt="Foto">
			</div>
		</div>
		<table class="data_sheet_table">
			<tr>
				<td class="data_sheet_field">_(Nickname)</td>
				<td>{{ nickname }}</td>
			</tr>
			<tr>
				<td class="data_sheet_field">_(Complete name):</td>
				<td>{{ user_name }}</td>
			</tr>
			<tr>
				<td class="data_sheet_field">_(Role):</td>
				<td>{{ role_name }}</td>
			</tr>
		</table>
		<p>_(Last sessions):</p>
		<table class="show_details_table">
			<thead>
				<th class="pc_cell">No.</th>
				<th>_(Date)</th>
				<th>_(Hour)</th>
				<th class="pc_cell">IP</th>
				<th>_(Browser)</th>
			</thead>
			<tbody>
				[[ sessions ]]
				<tr>
					<td class="right pc_cell">{{ item }}</td>
					<td>{{ session_date }}</td>
					<td>{{ session_time }}</td>
					<td class="pc_cell">{{ ip_address }}</td>
					<td>{{ browser_name }}, {{ platform }}</td>
				</tr>[[/ sessions ]]
			</tbody>
		</table>
	</div>
	<div class="details_users">
		<!-- created -->
		_(Created by): {{ cr_user_name }}, _(timeon) {{ cr_time }}<br>
		<!-- /created -->
		<!-- edited -->
		_(Last edition by): {{ ed_user_name }}, _(timeon) {{ ed_time }}
		<!-- /edited -->
	</div>
	<div class="details_foot no_print">
		<span class="button_group">
			<!-- no_self -->
			<button class="delete_button red_button" data-url="{{ module }}/delete_user" data-next="{{ module }}/Users">
				<img src="public/images/outline/delete.png" class="x-small_icon">
				_(Delete)
			</button>
			<!-- /no_self -->
			<button class="blue_button link_button" data-href="{{ module }}/EditUser/{{ user_id }}/">
				<img src="public/images/outline/edit.png" class="x-small_icon">
				_(Edit)
			</button>
			<button class="blue_button print_button" data-print=".details_body">
				<img src="public/images/outline/print.png" class="x-small_icon">
				_(Print)
			</button>
			<button class="blue_button pdf_button" data-content=".details_body">
				<img src="public/images/outline/pdf.png" class="x-small_icon">
				PDF
			</button>
		</span>
	</div>
</div>
