<div class="content_viewer">
	<div class="form_content medium_form">
		<form action="save_my_account" data-reset="{{ module }}/">
			<div class="form_title">
				_(My account)
				<a class="close_form" href="#"><img src="public/images/close.png"></a>
			</div>
			<div class="form_body">
				<div class="form_entry">
					<label>_(User):</label>
					<input name="nickname" class="update_input" disabled>
				</div>
				<div class="form_entry">
					<label>_(My name):</label>
					<input name="user_name" class="update_input" required>
				</div>
				<div class="form_entry">
					<label>_(Password):</label>
					<a class="small_button open_dialog_button" href="#" data-dialog="change_password_dialog">
						<img src="public/images/padlock.png" class="small_icon">
						<span>_(Change password)</span>
					</a>
				</div>
				<div class="form_entry">
					<label>_(Display theme):</label>
					<select class="data_selector update_input" name="theme_id" data-source="themes" data-search="none" data-placeholder="_(Select)">
					</select>
				</div>
				<div class="form_entry">
					<label>_(Language):</label>
					<select class="data_selector update_input" name="locale" data-source="locales" data-search="none" data-placeholder="_(Select)">
					</select>
				</div>
			</div>
			<div class="form_foot">
				<span class="button_group">
					<button class="blue_button" type="submit">
						<img src="public/images/outline/save.png" class="x-small_icon">
						_(Save)
					</button>
					<button class="grey_button cancel_button" type="reset">
						<img src="public/images/outline/cancel.png" class="x-small_icon">
						_(Cancel)
					</button>
				</span>
			</div>
		</form>
		<div class="sending">
			<img src="public/images/loading.gif" class="small_icon">
			<span>_(Saving)...</span>
		</div>
		<div class="error">
			<img src="public/images/error.png" class="small_icon">
			<span>_(Failed to save)</span>
		</div>
		<div class="success">
			<img src="public/images/success.png" class="small_icon">
			<span>_(Success)</span>
		</div>
	</div>
</div>
<div id="change_password_dialog" class="dialog" title="_(Change password)" data-accept="_(Accept)" data-close="_(Close)">
	<div class="entry_info"></div>
	<form action="change_password" data-close_dialog="change_password_dialog">
		<div class="form_entry">
			<label>_(Current password):</label>
			<input type="password" name="current_password" maxlength="32" required>
		</div>
		<div class="form_entry">
			<label>_(New password):</label>
			<input type="password" name="new_password" minlength="6" maxlength="32" required>
		</div>
		<div class="form_entry">
			<label>_(Confirm new password):</label>
			<input type="password" name="confirm_password" minlength="6" maxlength="32" required>
		</div>
		<div class="hidden_entry">
			<button type="submit">_(Save)</button>
		</div>
	</form>
	<div class="sending">
		<img src="public/images/loading.gif" class="small_icon">
		<span>_(Saving)...</span>
	</div>
	<div class="error">
		<img src="public/images/error.png" class="small_icon">
		<span>_(Failed to save)</span>
	</div>
	<div class="success">
		<img src="public/images/success.png" class="small_icon">
		<span>_(Success)</span>
	</div>
</div>
