/**
 * Impresiones de facturas en hojas de tamaño A5
 * Formato 1
 */
.a5_area
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 9pt;
	width: 529px;
	height: 793px;
	margin: 0px;
	padding: 0px !important;
}

.a5_container
{
	position: relative;
	width: 529px;
	height: 793px;
}

.delivery_note_date
{
	position: absolute;
	top: 132px;
	left: 321px;
}

.delivery_note_address
{
	position: absolute;
	top: 181px;
	left: 94px;
}

.delivery_note_customer
{
	position: absolute;
	top: 155px;
	left: 94px;
}

.delivery_note_phone
{
	position: absolute;
	top: 204px;
	left: 303px;
}

.delivery_note_items {
	position: absolute;
	top: 265px;
	left: 45px;
}

.delivery_note_items tr
{
	height: 29px;
}

td.column_quantity {
	width: 40px;
	padding: 0px 10px;
}

td.column_description {
	width: 206px;
	padding: 0px 10px;
}

.delivery_note_totals
{
	display: none;
}

@media screen {
	.a5_area
	{
		border: 2px dashed #999999;
		margin: 0px auto;
	}
}
