/**
 * Impresiones de facturas en hojas de tamaño A5
 * Formato 1
 */
.a5_area
{
	width: 14.8cm;
	height: 20cm;
	margin: 0px;
	padding: 0px !important;
}

.a5_container
{
	position: relative;
	width: 14.8cm;
	height: 20cm;
	font-size: 12pt;
}

.delivery_note_date
{
	position: absolute;
	top: 3.4cm;
	left: 8.5cm;
}

.delivery_note_address
{
	position: absolute;
	top: 4.7cm;
	left: 2.5cm;
}

.delivery_note_customer
{
	position: absolute;
	top: 4cm;
	left: 2.5cm;
}

.delivery_note_phone
{
	position: absolute;
	top: 5.4cm;
	left: 8cm;
}

.delivery_note_items {
	position: absolute;
	top: 6.8cm;
	left: 0.7cm;
}

.delivery_note_items, .delivery_note_items td
{
	border-collapse: collapse;
	border: 0px;
}

.delivery_note_items tr
{
	height: 0.757cm;
}

td.column_quantity
{
	width: 1cm;
	padding: 0cm 0.5cm 0cm 0cm;
}

td.column_description
{
	width: 6.2cm;
}

td.column_description span
{
	display: block;
	width: 6.2cm;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

td.column_price
{
	width: 2cm;
	padding: 0cm;
}

td.column_total
{
	width: 2.2cm;
	padding: 0cm;
}

.delivery_note_totals
{
	display: none;
}

@media screen {
	.a5_area
	{
		border: 2px dashed #999999;
		margin: 0px auto;
	}
}
