/**
 * Impresiones de facturas en hojas de tamaño A5
 * Formato 1
 */
.a5_area
{
	width: 14.8cm;
	height: 21cm;
	margin: 0cm;
	padding: 0cm !important;
}

.a5_container
{
	position: relative;
	width: 14.8cm;
	height: 21cm;
}

.invoice_date
{
	position: absolute;
	top: 3.6cm;
	left: 9.8cm;
}

.invoice_address
{
	position: absolute;
	top: 168px;
	left: 84px;
}

.invoice_customer
{
	position: absolute;
	top: 4.3cm;
	left: 2.2cm;
}

.invoice_nit_dui
{
	position: absolute;
	top: 181px;
	left: 372px;
}

.text_amount
{
	position: absolute;
	top: 624px;
	left: 72px;
	width: 226px;
}

.invoice_items {
	position: absolute;
	top: 233px;
	left: 23px;
}

.invoice_items tr
{
	height: 24px;
}

td.column_quantity
{
	width: 40px;
	padding: 0px 10px;
}

td.column_description
{
	width: 206px;
	padding: 0px 10px;
}

table.invoice_totals
{
	position: absolute;
	top: 604px;
	left: 423px;
}

@media screen {
	.a5_area
	{
		border: 2px dashed #999999;
		margin: 0px auto;
	}
}
