/**
 * Impresiones de facturas en hojas de tamaño A5
 * Formato 1
 */
.a5_area
{
	width: 14.8cm;
	height: 20cm;
	margin: 0cm;
	padding: 0cm !important;
}

.a5_container
{
	position: relative;
	width: 14.8cm;
	height: 20cm;
	margin: 3mm 0mm 0mm 1mm;
}

.invoice_date
{
	position: absolute;
	top: 3.6cm;
	left: 9.6cm;
}

.invoice_address
{
	position: absolute;
	top: 4.7cm;
	left: 2.8cm;
}

.invoice_customer
{
	position: absolute;
	top: 4.2cm;
	left: 2.2cm;
}

.invoice_nit_dui
{
	position: absolute;
	top: 5.4cm;
	left: 10cm;
}

.text_amount
{
	vertical-align: top;
}

.invoice_items
{
	position: absolute;
	top: 6.5cm;
	left: 0.7cm;
}

.invoice_items, .invoice_items td
{
	border-collapse: collapse;
	border: 0px;
}

.invoice_items tr
{
	height: 0.628cm;
}

td.column_quantity
{
	width: 1cm;
	padding: 0cm 0.5cm 0cm 0cm;
}

td.column_description
{
	width: 4.9cm;
}

td.column_description span
{
	display: block;
	width: 4.9cm;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

td.column_price
{
	width: 2cm;
}

td.column_total
{
	width: 2cm;
}

td.column_space
{
	width: 1.4cm;
}

table.invoice_totals
{
	position: absolute;
	top: 16.5cm;
	left: 12.2cm;
	width: 1.7cm;
}

.invoice_totals td
{
	padding: 0cm 0.5cm 0cm 0cm;
}

@media screen
{
	.a5_area
	{
		border: 2px dashed #999999;
		margin: 0px auto;
	}
}
