.landscape_area
{
	width: 26cm;
	height: 19.5cm;
	margin: 0cm auto;
	padding: 0cm !important;
}

.landscape_container
{
	position: relative;
	width: 26cm;
	height: 19.5cm;
	margin: 0mm;
	font-size: 7pt;
}

.dashed-divider
{
	background:
		linear-gradient(
			to bottom,
			transparent 0%,
			transparent 40%,
			#666666 40%,
			#666666 60%,
			transparent 60%,
			transparent 100%
		);
	background-repeat: repeat-y;
	background-size: 1px 30px;
	background-position: center;
	width: 0.5cm;
}
