/**
 * Impresiones de facturas en hojas de tamaño A5
 * Formato 1
 */
.a5_area
{
	width: 14.8cm;
	height: 20cm;
	margin: 0cm;
	padding: 0cm !important;
}

.a5_container
{
	position: relative;
	width: 14.8cm;
	height: 20cm;
	margin: 2mm 0mm 0mm 2mm;
}

.tax_credit_date
{
	position: absolute;
	top: 4.1cm;
	left: 8.2cm;
}

.tax_credit_address
{
	position: absolute;
	top: 5.3cm;
	left: 2.7cm;
}

.tax_credit_customer
{
	position: absolute;
	top: 4.7cm;
	left: 2cm;
}

.tax_credit_nit
{
	position: absolute;
	top: 5.9cm;
	left: 2cm;
}

.tax_credit_nrc
{
	position: absolute;
	top: 6.3cm;
	left: 9.1cm;
}

.tax_credit_department
{
	position: absolute;
	top: 6cm;
	left: 10.3cm;
}

.tax_credit_activity
{
	position: absolute;
	top: 7cm;
	left: 8.8cm;
}

.text_amount
{
	vertical-align: top;
}

.tax_credit_items {
	position: absolute;
	top: 8.7cm;
	left: 0.7cm;
}

.tax_credit_items, .tax_credit_items td
{
	border-collapse: collapse;
	border: 0px;
}

.tax_credit_items tr, .tax_credit_totals tr
{
	height: 0.555cm;
}

td.column_quantity
{
	width: 0.8cm;
	padding: 0cm 0.2cm 0cm 0cm;
}

td.column_description
{
	width: 5cm;
}

td.column_price
{
	width: 1.9cm;
}

td.column_description span
{
	display: block;
	width: 5cm;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

td.column_space
{
	width: 2.3cm;
}

td.colum_total
{
	width: 2.5cm;
}

table.tax_credit_totals {
	position: absolute;
	top: 15.1cm;
	left: 11.2cm;
	width: 1.5cm;
}

.tax_credit_totals td
{
	padding: 0cm 0.3cm 0cm 0cm;
}

@media screen {
	.a5_area
	{
		border: 2px dashed #999999;
		margin: 0px auto;
	}
}
