/**
	Estilos para impresión de tickets personalizados
	By: Edwin Fajardo
	Date-Time: 2021-10-13 09:58
*/

@page
{
	margin: 0px;
}

.ticket_area
{
	font-size: 9pt;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.ticket_area table
{
	font-size: 9pt;
}

.ticket_table, .ticket_table td
{
	border-collapse: collapse;
	border: 0px;
}

.ticket_table
{
	width: 100%;
}

@media screen {
	.ticket_area
	{
		max-width: 350px;
		margin: 0px auto;
		border: 2px dashed #999999;
	}
}
