/*
	Form Styles
	By: Edwin Fajardo.
//		https://www.edwinfajardo.com
	Date-Time: 2019-12-15 21:36
	All right reserved.
*/
.action_icon
{
	text-decoration: none;
	display: inline-block;
	opacity: 0.2;
	position: absolute;
	top: 0px;
}

.action_icon img
{
	width: 25px;
}

tr:hover .action_icon
{
	opacity: 1;
}

.form_main_content
{
	background: linear-gradient(to right, #333333, #0f0f0f 20%);
}

.classifier_button
{
	display: none;
}

.close_form
{
	width: 15px;
	float: right;
	padding: 5px;
	border-radius: 3px;
	margin:-6px -6px 0px 0px;
	background-color: #808080;
}

.close_form:hover
{
	background-color: #666666;
}

.close_form img
{
	width: 100%;
}

.date_input
{
	z-index: 1001;
	position: relative;
}

.details_table .small_cell
{
	width: 90px;
}

.details_table .smallest_cell
{
	width: 50px;
}

.details_table input
{
	width: calc(100% - 10px);
	border: 0px;
	box-shadow: none;
	outline: 0px;
}

.details_table textarea
{
	padding: 0px;
	background-color: transparent;
	border: 0px;
}

.details_table input:focus
{
	box-shadow: none;
	border: 0px;
}

.details_table, .details_table td, .details_table th
{
	border: 1px solid #d9d9d9;
}

.details_table td
{
	padding: 0px;
}

.details_table td *
{
	vertical-align: top;
}

.details_table td:not(.select2_td):not(.radio_td) span
{
	padding: 5px;
	vertical-align: top;
}

.details_table tbody tr:nth-child(even)
{
	background-color: #444444;
}

.details_table tbody tr:nth-child(odd)
{
	background-color: #666666;
}

.details_table input
{
	background-color: transparent;
	padding: 0px;
}

.form_body
{
	padding: 10px;
}

.form_content
{
	background-color:#525252;
	border-radius: 5px;
	margin: 5px;
	box-shadow: 0px 0px 4px 4px #686868;
	transition: all 1s ease-out;
}

.form_entry
{
	padding: 10px 0px;
}

.form_entry input:not(.default_width), .form_entry textarea
{
	width: calc(100% - 181px);
}

.form_entry textarea
{
	resize: none;
}

.form_entry:not(.cell) label:not(.radio_container):not(.cbox_container):not(.switch):not(.description_label):not(.drop-label)
{
	display: inline-block;
	width: 160px;
	vertical-align: top;
}

.form_entry:is(.cell) label
{
	display: block;
}

.form_foot
{
	padding: 10px;
	text-align: right;
}

.form_title
{
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	background:linear-gradient(#39546e, #294968, #000000);
	color: #ffffff;
}

.form_section_title
{
	padding: 10px;
	background-color: #eeeeee;
	font-weight: bold;
}

.hidden_entry
{
	display: none;
}

.total_entry
{
	text-align: right;
	padding: 5px 0px;
}

.total_entry label
{
	width: 100px;
}

.form_content table, .form_content td, .form_content th
{
	border: 1px solid #757575;
	border-collapse: collapse;
}

.form_content thead tr
{
	background-color: #182741;
	color: #ffffff;
}

.form_content th
{
	font-size: 8pt;
	padding: 5px;
}

.form_content td:not(.select2_td):not(.radio_td)
{
	font-size: 10pt;
	padding: 5px;
}

.form_content td
{
	position: relative;
	vertical-align: top;
}

.form_content table
{
	width: 100%;
	margin: 20px 0px;
}

.reload_button
{
	display: none;
}

.delete_row_icon
{
	visibility: hidden;
}

.medium_form
{
	max-width: 700px;
	margin: 25px auto;
}

.small_form
{
	max-width: 500px;
	margin: 50px auto;
}

.notes
{
	background-attachment: local;
	background-image:
	repeating-linear-gradient(#000000, #000000 24px, #666666 24px, #666666 25px, #000000 25px);
	line-height: 25px;
	border: 0px !important;
}

.complete_value
{
	display: none;
}

.aditional_note
{
	font-style: italic;
	color: #999999;
}

.image-uploader
{
	cursor: pointer;
}

.image-uploader:hover
{
	background-color: #d9d9d9;
}

.card_table input, .card_table select, .card_table textarea
{
	min-width: 300px;
}

.card_table input
{
	border: 0px;
	border-bottom: 1px solid #666666;
}

.card_table textarea
{
	width: 100%;
}

.template
{
	display: none;
}

.radio_td
{
	text-align: center;
	padding: 0px !important;
}

.description_label
{
	display: inline-block;
	width: calc(100% - 160px);
	vertical-align: top;
	padding: 2px 0px;
	border-bottom: 1px dashed #cccccc;
}

.document_td
{
	width: 300px;
}

@media screen and (max-width: 799px)
{
	.form_entry label
	{
		display: block;
		width: auto;
		color: #9999cc;
	}

	.form_entry input, .form_entry textarea
	{
		width: -webkit-fill-available;
	}

	.form_content
	{
		margin: 0px;
		box-shadow: none;
		border-radius: 0px;
	}

	.form_title
	{
		border-radius: 0px;
	}

	.details_table, .details_table tbody, .details_table tr, .details_table td:not(.pc_cell), .details_table tfoot
	{
		display: block;
		width: auto;
	}

	.details_table td
	{
		padding: 5px 0px 5px 100px;
	}

	.details_table thead, .details_table th
	{
		display: none;
	}

	.details_table tbody td::before
	{
		content: attr(data-label);
		width: 100px;
		display: inline-block;
		text-align: left;
	}

	.details_table tbody td input
	{
		width: calc(100% - 105px);
	}

	.details_table tbody td .complete_value
	{
		width: calc(100% - 105px);
	}
	.description_label
	{
		display: block;
		width: auto;
	}
}
