/**
*	Standalone styles
*	@author Edwin Fajardo
*	Date-Time: 2022-06-13 04:19
*/
.details_content {
	background-color: transparent !important;
	margin: 0px !important;
	box-shadow: none !important;
}

.details_body
{
	padding: 0px 0px 105px 0px;
}

.details_users
{
	width: calc(100% - 10px);
	position: fixed;
	background-color: #999999;
	bottom: 45px;
}

.details_foot
{
	position: fixed;
	bottom: 0px;
	border-radius: 3px;
	background-color: #999999;
	width: calc(100% - 20px);
}
