<div class="content_viewer">
	<div class="form_content medium_form">
		<form action="save_entity" data-reset="{{ module }}/" enctype="multipart/form-data">
			<div class="form_title">
				_(System)
			</div>
			<div class="form_body">
				<input type="hidden" name="entity_id" class="update_input">
				<input type="hidden" name="subdomain" value="{{ subdomain }}">
				<div class="form_entry">
					<label>_(App name):</label>
					<input name="app_name" maxlength="64" class="update_input" value="{{ system_name }}">
				</div>
			</div>
			<div class="form_title">
				_(Entity data)
			</div>
			<div class="form_body">
				<div class="form_entry">
					<label>_(Entity name):</label>
					<input name="entity_name" maxlength="64" class="update_input" required>
				</div>
				<div class="form_entry">
					<label>_(Slogan):</label>
					<input name="entity_slogan" maxlength="64" class="update_input">
				</div>
			</div>
			<p>_(Entity logo):</p>
			<div class="logo_preview_container">
				<div class="drop">
					<div class="uploader">
						<label class="drop-label">Logo</label>
						<input type="file" class="image-upload" name="logo" accept="image/*">
					</div>
					<div class="image-preview">
						<img src="{{ entity_logo }}" alt="Logo">
					</div>
				</div>
			</div>
			<div class="form_foot">
				<span class="button_group">
					<button class="blue_button" type="submit">
						<img src="public/images/outline/save.png" class="x-small_icon">
						_(Continue)
					</button>
					<!-- inside_installation -->
					<button class="grey_button cancel_button" type="reset">
						<img src="public/images/outline/cancel.png" class="x-small_icon">
						_(Cancel)
					</button>
					<!-- /inside_installation -->
					<!-- outside_installation -->
					<button class="grey_button" type="button" class="logout_button">
						<img src="public/images/outline/cancel.png" class="x-small_icon">
						_(Cancel)
					</button>
					<!-- /outside_installation -->
				</span>
			</div>
		</form>
		<div class="sending">
			<img src="public/images/loading.gif" class="small_icon">
			<span>_(Saving)...</span>
		</div>
		<div class="error">
			<img src="public/images/error.png" class="small_icon">
			<span>_(Failed to save)</span>
		</div>
		<div class="success">
			<img src="public/images/success.png" class="small_icon">
			<span>_(Success)</span>
		</div>
	</div>
</div>
