<div class="content_viewer">
	<div class="form_content small_form">
		<form action="test_authorization" data-reset="{{ module }}/">
			<div class="form_title">
				_(Installation)
			</div>
			<div class="form_body">
				<div class="form_message">
					_(You are creating a new company account. For this action you need to have an account as an installer).
				</div>
				<div class="form_entry">
					<label>_(User):</label>
					<input name="nickname" maxlength="64">
				</div>
				<div class="form_entry">
					<label>_(Password):</label>
					<input type="password" name="password" maxlength="32" required>
				</div>
			</div>
			<div class="form_foot">
				<span class="button_group">
					<button class="blue_button" type="submit">
						<img src="public/images/outline/start.png" class="x-small_icon">
						_(Continue)
					</button>
					<button class="grey_button cancel_button" type="reset">
						<img src="public/images/outline/cancel.png" class="x-small_icon">
						_(Cancel)
					</button>
				</span>
			</div>
		</form>
		<div class="sending">
			<img src="public/images/loading.gif" class="small_icon">
			<span>_(Logging in)...</span>
		</div>
		<div class="error">
			<img src="public/images/error.png" class="small_icon">
			<span>Error</span>
		</div>
		<div class="success">
			<img src="public/images/success.png" class="small_icon">
			<span>_(Success)</span>
		</div>
	</div>
</div>
