<div class="content_viewer">
	<div class="form_content medium_form">
		<form action="save_menu" data-reset="{{ module }}/" enctype="multipart/form-data">
			<div class="form_title">
				_(System)
			</div>
			<div class="form_body">
				<div>
					<label>_(Modules):</label>
					{{ modules }}
				</div>
			</div>
			<div class="form_foot">
				<span class="button_group">
					<button class="blue_button" type="submit">
						<img src="public/images/outline/save.png" class="x-small_icon">
						_(Save)
					</button>
					<!-- inside_installation -->
					<button class="grey_button cancel_button" type="reset">
						<img src="public/images/outline/cancel.png" class="x-small_icon">
						_(Cancel)
					</button>
					<!-- /inside_installation -->
					<!-- outside_installation -->
					<button class="grey_button" type="button" class="logout_button">
						<img src="public/images/outline/cancel.png" class="x-small_icon">
						_(Cancel)
					</button>
					<!-- /outside_installation -->
				</span>
			</div>
		</form>
		<div class="sending">
			<img src="public/images/loading.gif" class="small_icon">
			<span>_(Saving)...</span>
		</div>
		<div class="error">
			<img src="public/images/error.png" class="small_icon">
			<span>_(Failed to save)</span>
		</div>
		<div class="success">
			<img src="public/images/success.png" class="small_icon">
			<span>_(Success)</span>
		</div>
	</div>
</div>
