<div id="nav_content">
	<a href="/{{ module }}/">
		<img class="x-small_icon" src="public/images/outline/home.png">
		<span>_(Entity data)</span>
	</a>
	<a href="/{{ module }}/RoleAndUser/">
		<img class="x-small_icon" src="public/images/outline/user.png">
		<span>_(Role and user)</span>
	</a>
	<a href="/{{ module }}/Menu/">
		<img class="x-small_icon" src="public/images/outline/menu.png">
		<span>_(Menu)</span>
	</a>
	<a href="/{{ module }}/Summary/">
		<img class="x-small_icon" src="public/images/outline/summary.png">
		<span>_(Summary)</span>
	</a>
	<a href="/{{ module }}/AppInfo/">
		<img class="x-small_icon" src="public/images/outline/app_info.png">
		<span>_(App info)</span>
	</a>
	<a href="/{{ module }}/SessionData/">
		<img class="x-small_icon" src="public/images/outline/session_data.png">
		<span>_(Session data)</span>
	</a>
	<a href="/{{ module }}/ErrorLog/">
		<img class="x-small_icon" src="public/images/outline/error.png">
		<span>_(Error log)</span>
	</a>
	<a href="/{{ module }}/PHPInfo/" title="PHP Info">
		<img class="x-small_icon" src="public/images/outline/server_info.png">
		<span>_(PHP info)</span>
	</a>
</div>
