<div class="details_content">
	<!-- embedded -->
	<div class="details_title no_print">
		_(Technical support)
		<a class="close_details" href="#"><img src="public/images/close.png"></a>
	</div>
	<!-- /embedded -->
	<div class="details_body">
		<div>
			<div class="menu_title">_(Choose an option)</div>
			<div class="menu_container">
				[[ contacts ]]
				<a class="menu_item" target="_blank" href="{{ link }}">
					<img src="public/images/{{ icon }}">
					<span>_({{ name }})</span>
				</a>[[/ contacts ]]
			</div>
		</div>
	</div>
	<div class="details_foot no_print">
		<button type="button" class="blue_button print_button" data-print=".details_body">
			<img src="public/images/outline/print.png" class="x-small_icon">
			_(Print)
		</button>
	</div>
</div>
