/*
	Form Styles
	By: Edwin Fajardo.
//		https://www.edwinfajardo.com
	Date-Time: 2019-12-15 21:36
	All right reserved.
*/
.action_icon
{
	text-decoration: none;
	display: inline-block;
	opacity: 0.2;
	position: absolute;
	top: 0px;
}

.action_icon img
{
	width: 25px;
}

tr:hover .action_icon
{
	opacity: 1;
}

.form_main_content
{
	background: $form_main_content_bg;
}

.classifier_button
{
	display: none;
}

.close_form
{
	width: 15px;
	float: right;
	padding: 5px;
	border-radius: 3px;
	margin:-6px -6px 0px 0px;
	background-color: $close_form_bg;
}

.close_form:hover
{
	background-color: $close_form_h_bg;
}

.close_form img
{
	width: 100%;
}

.date_input
{
	z-index: 1001;
	position: relative;
}

.details_table .small_cell
{
	width: 80px;
}

.details_table .smallest_cell
{
	width: 40px;
}

.details_table input
{
	width: calc(100% - 10px);
	border: 0px;
	box-shadow: none;
	outline: 0px;
}

.details_table input:focus
{
	box-shadow: none;
	border: 0px;
}

.details_table, .details_table td, .details_table th
{
	border: 1px solid #d9d9d9;
}

.details_table td
{
	padding: 0px;
}

.details_table td *
{
	vertical-align: top;
}

.details_table td:not(.select2_td):not(.radio_td) span
{
	padding: 5px;
	vertical-align: top;
}

.details_table tbody tr:nth-child(even)
{
	background-color: $details_table_even_bg;
}

.details_table tbody tr:nth-child(odd)
{
	background-color: $details_table_odd_bg;
}

.details_table .td_active
{
	box-shadow: 0px 0px 0px 2px #666666 inset;
}

.details_table input
{
	background-color: transparent;
	padding: 0px;
}

.details_table textarea
{
	padding: 0px;
	background-color: transparent;
	border: 0px;
}

.form_body
{
	padding: 10px;
}

.form_content
{
	background-color: $form_content_bg;
	border-radius: 5px;
	margin: 5px;
	box-shadow: $form_content_shadow;
	transition: all 1s ease-out;
}

.form_entry
{
	padding: 10px 0px;
}

.form_entry input:not(.default_width), .form_entry textarea
{
	width: calc(100% - 181px);
}

.form_entry textarea
{
	resize: none;
}

.form_entry:not(.cell) label:not(.radio_container):not(.cbox_container):not(.switch):not(.description_label):not(.drop-label)
{
	display: inline-block;
	width: 160px;
	vertical-align: top;
}

.form_entry:is(.cell) label
{
	display: block;
}

.form_foot
{
	padding: 10px;
	text-align: right;
}

.form_title
{
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	background: $form_title_bg;
}

.form_section_title
{
	padding: 10px;
	background-color: #0002;
	font-weight: bold;
}

.hidden_entry
{
	display: none;
}

.total_entry
{
	text-align: right;
	padding: 5px 0px;
}

.total_entry input
{
	width: 160px;
}

.total_entry label
{
	width: 100px;
}

.form_content table, .form_content td, .form_content th
{
	border: $form_td_border;
	border-collapse: collapse;
}

.form_content thead tr
{
	background-color: $form_thead_tr_bg;
	color: #ffffff;
}

.form_content th
{
	font-size: 8pt;
	padding: 5px;
}

.form_content td:not(.select2_td):not(.radio_td)
{
	font-size: 10pt;
	padding: 5px;
}

.form_content td.select2_td
{
	padding: 2px;
}

.form_content td
{
	position: relative;
	vertical-align: top;
}

.form_content table
{
	width: 100%;
	margin: 20px 0px;
}

.inline_field
{
	display: inline-block;
	width: fit-content;
	padding: 5px;
	margin: 0px 10px 0px 0px;
	vertical-align: top;
}

.inline_field label
{
	display: inline-block;
}

.reload_button
{
	display: none;
}

.delete_row_icon
{
	visibility: hidden;
}

.medium_form
{
	max-width: 700px;
	margin: 25px auto;
}

.small_form
{
	max-width: 500px;
	margin: 50px auto;
}

.notes
{
	background-attachment: local;
	background-image: $notes_bg_image;
	line-height: 25px;
	border: 0px !important;
}

.complete_value
{
	display: none;
}

.aditional_note
{
	font-style: italic;
	color: $additional_note_color;
}

.image-uploader
{
	cursor: pointer;
}

.image-uploader:hover
{
	background-color: #d9d9d9;
}

.card_table input, .card_table select, .card_table textarea
{
	min-width: 300px;
}

.card_table input
{
	border: 0px;
	border-bottom: 1px solid #666666;
}

.card_table textarea
{
	width: 100%;
}

.template
{
	display: none;
}

.radio_td
{
	text-align: center;
	padding: 0px !important;
	min-height: 30px;
}

.description_label
{
	display: inline-block;
	width: calc(100% - 190px);
	vertical-align: top;
	padding: 2px 0px;
	border-bottom: 1px dashed #cccccc;
}

.document_td
{
	width: 300px;
}

.logo_preview_container
{
	position: relative;
	width: 200px;
	margin: 0px auto;
	overflow: hidden;
}

.photo_preview_container
{
	position: relative;
	width: 150px;
	height: 200px;
	overflow: hidden;
}

/* Activar checkboxes en tablas, filas y columnas */
.check_table, .check_row
{
	text-decoration: none;
}

.check_table:hover, .check_row:hover
{
	text-decoration: underline;
}

@media screen and (max-width: 799px)
{
	.form_entry label:not(.switch)
	{
		display: block;
		width: auto;
		color: #9999cc;
	}

	.switch_span
	{
		padding: 0px 5px 10px 5px;
		width: calc(100% - 80px);
	}

	.form_entry input, .form_entry textarea
	{
		width: -webkit-fill-available !important;
	}

	.form_entry input.default_width
	{
		width: calc(100% - 175px) !important;
	}
	
	.form_content
	{
		margin: 0px;
		box-shadow: none;
		border-radius: 0px;
		min-height: 100%;
	}

	.form_title
	{
		border-radius: 0px;
		font-weight: bold;
	}

	.details_table, .details_table tbody, .details_table tr, .details_table td:not(.pc_cell), .details_table tfoot
	{
		display: block;
		width: auto;
	}

	.details_table td
	{
		padding: 5px 0px 5px 100px;
	}

	.details_table thead, .details_table th
	{
		display: none;
	}

	.details_table tbody td::before
	{
		content: attr(data-label);
		width: 100px;
		display: inline-block;
		text-align: left;
	}

	.details_table tbody td input
	{
		width: calc(100% - 105px);
	}

	.details_table tbody td .complete_value
	{
		width: calc(100% - 105px);
	}

	.inline_field
	{
		display: block;
		width: auto;
		padding: 5px;
		margin: 0px;
	}
	
	.inline_field label
	{
		display: inline-block;
		width: 100px;
	}

	.inline_field > input, .inline_field > .select2
	{
		width: calc(100% - 120px);
	}

	.description_label
	{
		display: block;
		width: auto;
	}

	.button_group
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
	}

	.button_group:not(:first-child)
	{
		margin-top: 10px;
	}
}

@media screen and (min-width: 800px)
{
	.middle_line
	{
		background: linear-gradient(to bottom, $form_content_bg 0%, $form_content_bg 49%, #d9d9d9 50%, $form_content_bg 51%);
	}
	
	.form_group
	{
		padding: 2px;
		border-radius: 5px;
		background-color: $input_bg;
	}
	
	.form_foot button:not(.delete_button)
	{
		margin-left: 7px;
	}	
}
