/*
	Styles for lists
	By: Edwin Fajardo
	Date-Time: 2020-06-18 13:06
*/

.data_viewer
{
	display: none;
	width: 100%;
	font-size: 10pt;
}

.data_table
{
	width: calc(100% - 10px) !important;
}

.data_viewer, .data_viewer td, .data_viewer th
{
	border: $dv_border;
	border-collapse:collapse;
}

.data_viewer tbody tr:nth-child(even)
{
	background-color: $dv_even_bg;
}

/*.data_viewer tbody tr:nth-child(odd)
{

}*/

.data_viewer tbody td, .data_viewer tfoot td
{
	padding: 10px 3px;
}

.data_viewer thead
{
	background-color: $dv_thead_bg;
}

.data_viewer tfoot
{
	background-color: $dv_tfoot_bg;
	font-weight: bold;
}

.data_viewer thead th
{
	padding: 3px;
	font-size: 9pt;
}

.template
{
	display: none;
}

.list_options
{
	padding: 5px;
	min-height: 43px;
}

.list_options table tr
{
	height: 35px;
}

.list_options form
{
	display: inline-block;
}

.data_search
{
	border: $data_search_border;
	border-radius: 3px;
	width: 100%;
	min-width: 300px;
	padding: 7px;
}

.data_viewer tbody tr, .data_table tbody tr
{
	cursor: pointer;
}

.data_viewer tbody tr:hover
{
	background-color: $dv_tr_h_bg;
}

.currency_cell
{
	min-width: 64px;
}

.currency_symbol
{
	float: left;
	width: fit-content;
	padding: 0px 5px 0px 0px;
}

.data_table tbody tr:hover {
	color: $dt_tr_h_color;
}

.void_tr {
	background-color: transparent !important;
	cursor: auto !important;
}

.empty_table_message
{
	display: none;
	position: absolute;
	top: 200px;
	width: 100%;
	text-align: center;
	color: #999999;
	font-size: 30pt;
}

.path_container
{
	font-family: monospace;
	font-size: 8pt;
	background-color: $path_container_bg;
	padding: 3px;
	border-radius: 2px;
	min-height: 13px;
}

.path_container span
{
	display: inline-block;
}

.path_container a
{
	text-decoration: none;
	display: inline-block;
}

@media screen and (max-width: 799px)
{
	.action_filter
	{
		display: none;
	}

	.action_icons
	{
		position: relative;
		text-align: right;
	}

	.data_search
	{
		width: -webkit-fill-available;
		margin: 5px 0px;
	}

	.list_options form
	{
		display: block;
	}
}

@media screen {
	.data_viewer tbody td
	{
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 200px;
	}
}
