/*
	Main Styles
	By: Edwin Fajardo.
		https://www.edwinfajardo.com
	Date-Time: 2019-12-08 20:58
	All right reserved.
*/

@font-face
{
	font-family: "Verdana V2 V1";
	src: url("#{$verdanaV2_url}.eot");
	src: url("#{$verdanaV2_url}.eot?#iefix") format("embedded-opentype"), url("#{$verdanaV2_url}.woff2") format("woff2"), url("#{$verdanaV2_url}.woff") format("woff"), url("#{$verdanaV2_url}.ttf") format("truetype"), url("#{$verdanaV2_url}.svg#Verdana V2 V1") format("svg");
}

/* Elements */
#app_logo
{
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	vertical-align: bottom;
	margin: 1px;
}

#app_logo img
{
	border: 0px;
	max-height: 40px;
}

#content_section
{
	@include content_section;
}

#main_aside
{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	background: $main_aside_bg;
	height: 100%;
	box-shadow: 0px 0px 5px 5px $main_aside_shadow;
	z-index: 1002;
}

#main_aside span, #main_aside a
{
	display: block;
	padding: 10px;
}

#main_aside span
{
	display: block;
	padding: 20px 10px;
	text-decoration: none;
	text-align: center;
}

#main_aside a
{
	display: block;
	padding: 20px 10px;
	text-decoration: none;
	border-bottom: 1px solid #d0d0d0;
	color: $main_aside_a_color;
}

#main_aside a:hover
{
	background-color: $main_aside_a_hover_bg;
	color: $main_aside_a_hover_color;
}

#main_content
{
	display: $main_content_display;
	vertical-align: $main_content_valign;
	position: relative;
	overflow: hidden;
	width: $main_content_width;
}

#main_footer
{
	padding: 10px;
	background-color: #333366;
	color: #ffffff;
}

#main_footer a
{
	text-decoration: none;
	color: #ccccff;
}

#main_header
{
	position: relative;
	overflow: hidden;
	padding: $main_header_padding;
	background: $main_header_bg;
	color: #ffffff;
	z-index: 1003;
	border-bottom: $main_header_border;
}

#main_nav
{
	display: $main_nav_display;
	vertical-align: top;
	background-color: $main_nav_bg;
	width: $main_nav_width;
	font-size: 9pt;
}

#main_nav a
{
	@include main_nav_a;
	color: #ffffff;
	text-decoration: none;
}

#main_nav a img, .blue_button img, .grey_button img, .red_button img
{
	filter: invert(1);
}

#main_nav a:hover
{
	text-decoration: underline;
	background-color: $main_nav_a_h_bg;
}

#main_title_bar
{
	margin: 0px;
	font-size: 1em;
}

#main_title_bar .small_logo
{
	max-height: 38px;
	float: left;
}

#main_title_bar nav
{
	display: $main_title_nav_display;
}

#main_title_bar span
{
	vertical-align: top;
	padding: 10px;
	text-align: center;
	width: $main_title_span_width;
}

#title_bar_nav
{
	display: inline-block;
	vertical-align: top;
}

#title_bar_nav .nav_links a
{
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #666670;
	padding: 13px;
}

#title_bar_nav .nav_links a:hover
{
	background: linear-gradient(#f6f6f6, #cccccc) !important;
}

#user_link
{
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 0px 5px;
	color: $user_link_color;
	text-decoration: none;
	border-radius: $user_link_radius;
}

#user_link:hover
{
	background-color: #3333;
}

#user_link .user_icon
{
	display: inline-block;
	padding: 5px 0px;
	vertical-align: top;
}

#user_link .user_name
{
	padding: 10px 0px;
}

/* Classes */
.action_filter
{
	display: inline-block;
	padding: 0px 0px 10px 0px;
	color: $action_filter_color;
	vertical-align: bottom;
}

.action_filter > span:not(.select2)
{
	display: inline-block;
	padding: 4px;
}

.action_icons
{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px 0px;
}

.action_icons a
{
	display: inline-block;
	padding: 3px 10px;
	text-align: center;
	border-radius: 3px;
}

.action_icons a:hover
{
	background-color: $action_icons_hover_bg;
}

.action_icons img
{
	width: 25px;
}

.blue_button
{
	text-decoration: none;
	background-color: $primary_button_bg;
	color: #ffffff;
	border-radius: 3px;
	padding: 8px;
	vertical-align: bottom;
	border: 0px;
	cursor: pointer;
}

.blue_button:hover
{
	background-color: $primary_button_h_bg;
}

.blue_button span
{
	display: inline-block;
	vertical-align: top;
	padding: 4px 0px;
}

.bold
{
	font-weight: bold;
}

.cell
{
	display: table-cell;
	vertical-align: top;
}

.center
{
	text-align: center;
}

.center_table
{
	margin: 0px auto;
}

.company_header, .institution_header
{
	overflow: auto;
	display: table;
	width: 100%;
}

.company_header > div, .institution_header > div
{
	display: table-cell;
	vertical-align: top;
	padding: 20px;
}

.company_logo, .entity_logo
{
	max-width: 200px;
	max-height: 150px;
	border-radius: 5px;
}

.content_viewer
{
	overflow-y: scroll;
	position: relative;
}

.delete_button
{
	float: left;
}

.flex
{
	display: flex;
	justify-content: space-between;
	padding: 2px 0px;
}

.flex_cell
{
	display: inline-block;
}

.flex_cell label
{
	min-width: 80px;
	display: inline-block;
}

.float_container
{
	overflow: hidden;
}

.grey_button
{
	text-decoration: none;
	background-color: #444444;
	color: #ffffff;
	border-radius: 3px;
	padding: 8px;
	vertical-align: bottom;
	border: 0px;
	cursor: pointer;
}

.grey_button:hover
{
	background-color: #777777;
}

.grey_button span
{
	display: inline-block;
	vertical-align: top;
	padding: 4px 0px;
}

.icon
{
	width: 100px;
}

.info_table
{
	width: 100%;
	border-collapse: collapse;
	color: #666666;
}

.info_table td
{
	padding: 10px;
	border: 0px;
}

.institution_header > div
{
	padding: 20px;
	vertical-align: middle;
}

.justify
{
	text-align: justify;
}

.medium_icon
{
	width: 50px;
}

.module_name
{
	color: $module_name_color;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	font-weight: bold;
}

.nav_link_active, .nav_link_active_form
{
	position: relative;
}

.nav_link_active:after
{
	@include link_active_after;
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	clear: both;
	right: 0px;
}

.pagination
{
	text-align: right;
}

.red_button
{
	text-decoration: none;
	background-color: #660000;
	color: #ffffff;
	border-radius: 3px;
	padding: 8px;
	vertical-align: bottom;
	border: 0px;
	cursor: pointer;
}

.red_button:hover
{
	background-color: #990000;
}

.red_button span
{
	display: inline-block;
	vertical-align: top;
	padding: 4px 0px;
}

.right
{
	text-align: right !important;
}

.small_button
{
	display: inline-block;
	font-size: 9pt;
	text-decoration: none;
	background-color: $small_button_bg;
	border-radius: 3px;
	padding: 3px;
	vertical-align: bottom;
}

.small_button span
{
	display: inline-block;
	vertical-align: top;
	padding: 6px 0px;
}

.small_icon
{
	width: 25px;
}

.table
{
	display: table;
	width: 100%;
}

.x-small_icon
{
	width: 16px;
	vertical-align: bottom;
}

.uppercase
{
	text-transform: uppercase;
}

.lowercase
{
	text-transform: lowercase;
}

/* Tags */
html, body
{
	height: 100%;
}

body
{
	font-family: "Verdana V2 V1", Verdana, Geneva, Sans-Serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}

button
{
	font-family: "Verdana V2 V1", Verdana, Geneva, Sans-Serif;
	font-size: 10pt;
	padding: 7px;
}

input, select, textarea
{
	font-family: "Verdana V2 V1", Verdana, Geneva, Sans-Serif;
	font-size: 10pt;
	padding: 5px;
	border: 1px solid transparent;
	outline: 0px;
	background-color: $input_bg;
}

input:not(.select2-search__field):focus
{
	border-bottom: 1px solid #ffffff;
	box-shadow: 0px 0px 5px 2px #999999;
}

textarea
{
	resize: none;
}

/* Checkboxes */
/* Customize the label (the container) */
.checkbox_container
{
	display: block;
	position: relative;
	padding-left: 30px;
	cursor: grab;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox_container:hover
{
	background-color: $checkbox_h_bg;
}

.checkbox_container label
{
	cursor: pointer;
	display: block;
	padding: 5px 0px;
}

/* Hide the browser's default checkbox */
.checkbox_container input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark
{
	position: absolute;
	top: 5px;
	left: 2px;
	height: 20px;
	width: 20px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark
{
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark
{
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
{
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after
{
	display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after
{
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Radio buttons */
/* Customize the label (the container) */
.radio_container
{
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 6px 0px 6px 30px;
}

.radio_inline
{
	display: inline-block !important;
}

/* Hide the browser's default radio button */
.radio_container input
{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom radio button */
.radio_checkmark
{
	position: absolute;
	top: 5px;
	left: 2px;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .radio_checkmark
{
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .radio_checkmark
{
	background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_checkmark:after
{
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .radio_checkmark:after
{
	display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .radio_checkmark:after
{
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* The switch - the box around the slider */
.switch
{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	vertical-align: top;
}

/* Hide default HTML checkbox */
.switch input
{
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before
{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider
{
	background-color: #2196F3;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round
{
	border-radius: 34px;
}

.slider.round:before
{
	border-radius: 50%;
}

.switch_span
{
	display: inline-block;
	padding: 10px;
}

/* For prints */
.print_header
{
	display: none;
}

.company_logo_print
{
	max-width: 200px;
	max-height: 100px;
}

.small_logo_print
{
	max-width: 200px;
	max-height: 70px;
}

.print_header_content table
{
	width: 100%;
	border-collapse: collapse;
	border: 0px;
	border-bottom: 1px solid #666666;
}

::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track
{
	background: #0002;
}

::-webkit-scrollbar-thumb
{
	background: #888;
}

::-webkit-scrollbar-thumb:hover
{
	background: #555;
}

.user_container
{
	text-align: center;
}

.user_photo_container
{
	display: inline-block;
	width: 150px;
	border-radius: 50%;
	border: 1px solid #d9d9d9;
}

.user_photo
{
	width: 150px;
}

#user_nickname
{
	color: #666666;
	font-style: italic;
}

.table_container
{
	overflow-x: auto;
}

.small_chart
{
	width: 200px;
}

@media screen and (max-width: 799px)
{
	#main_aside
	{
		width: 100%;
	}

	#content_section
	{
		display: block;
		width: auto;
	}

	#main_nav
	{
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1010;
	}

	#main_header
	{
		padding: 0px 5px;
	}

	#main_header h3
	{
		margin: 0px;
		position: relative;
		padding: 7px 0px 7px 35px;
	}

	#menu_button
	{
		vertical-align: top;
		margin: 8px 0px 0px 10px;
		filter: brightness(3);
		opacity: 0.7;
	}

	#main_footer
	{
		padding: 0px;
		text-align: center;
	}

	#main_content
	{
		display: block;
		width: auto;
	}

	#user_link .user_icon
	{
		padding: 5px;
	}

	.action_filter > span:not(.select2)
	{
		width: 120px;
	}

	.flex
	{
		display: block;
	}

	.flex_cell
	{
		display: block;
		padding: 5px 0px;
	}

	.flex_cell label
	{
		display: inline-block;
		width: 120px;
	}

	.medium_icon
	{
		width: 40px;
	}

	.table, .cell:not(.pc_cell)
	{
		display: block;
		width: auto;
	}

	.phone_block
	{
		display: block;
	}

	.phone_inline
	{
		display: inline-block;
	}

	.pc_block, .pc_inline, .pc_cell
	{
		display: none;
	}

	.company_header, .institution_header
	{
		text-align: center;
	}

	.small_button
	{
		margin: 5px 0px;
	}

	.select2-results__option
	{
		padding: 20px 6px;
	}
}

@media screen and (min-width: 801px)
{
	.pc_block
	{
		display: block;
	}

	.pc_inline
	{
		display: inline-block;
	}

	.phone_block, .phone_inline
	{
		display: none !important;
	}
}

@media print
{
	*
	{
		color: #000000 !important;
	}
}
