.form_entry, .entry {
	position: relative;
}

.password_input
{
	padding-right: 40px; /* Space for the icon */
	width: 100%;
	box-sizing: border-box;
}

.eye_icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	user-select: none;
	font-size: 1.2em;
}
