/*
	PrintThis CSS
	By: Edwin Fajardo
	Date-Time: 2021-08-08 17:21
*/
.currency
{
	min-width: auto !important;
}

*:before, *:after
{
	content: "" !important;
}

@page
{
	margin: 1.5cm 1cm;
	size: landscape;
}
