$verdanaV2_url: "../../../external/fonts/VerdanaV2";
$content_section_bg: transparent;
$main_aside_bg: #505050;
$main_aside_shadow: #666666;
$main_aside_a_color: #ccccff;
$main_aside_a_hover_color: #d9d9ff;
$main_aside_a_hover_bg: #222525;
$main_content_display: table-cell;
$main_content_valign: top;
$main_content_width: calc(100% - 170px);
$main_footer_bg: #666666;
$main_header_bg: linear-gradient(#000000, #272727, #000000);
$main_header_padding: 0px;
$main_header_border: 0px;
$main_nav_display: table-cell;
$main_nav_bg: #666666;
$main_nav_width: 150px;
$main_nav_a_h_bg: #000000;
$main_title_nav_display: none !important;
$main_title_span_width: calc(100% - 120px);
$user_link_color: #d9d9d9;
$user_link_radius: 3px;
$primary_button_bg: #000525;
$primary_button_h_bg: #3333ff;
$action_filter_color: #e0e0e0;
$action_icons_hover_bg: #666666;
$module_name_color: #e0e0e0;
$cell_display: table-cell;
$table_display: table;
$table_width: 100%;
$small_button_bg: #828282;
$input_bg: #353535;
$checkbox_h_bg: #404044;
@mixin content_section
{
	display: table;
	width: 100%;
}
@mixin link_active_after
{
	top: 16px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #333333;
	right: 0px;
}
@mixin main_nav_a
{
	display: block;
	padding: 14px 7px;
	margin-bottom: 2px;
	background-color: #535458;
}
@import 'main.scss';

/* Extra Main */
body
{
	background-color: #333333;
	color: #ffffff;
}

input, select, textarea
{
	color: #ffffff;
}

.ui-widget-header
{
	border: 1px solid #636363 !important;
}

.ui-widget-content
{
	color: #ffffff !important;
	background-color: #000000 !important;
}

.ui-dialog-titlebar
{
	background-color: #2c4b67 !important;
	color: #ffffff !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
	background-color: #8a8a8a !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button
{
	color: #000000 !important;
}

/* **************** Estilos de formularios **************** */
$form_main_content_bg: linear-gradient(to right, #333333, #0f0f0f 20%);
$close_form_bg: #808080;
$close_form_h_bg: #666666;
$details_table_even_bg: #444444;
$details_table_odd_bg: #666666;
$form_content_bg:#525252;
$form_content_shadow: 0px 0px 4px 4px #000000;
$form_title_bg: #353535;
$form_td_border: 1px solid #757575;
$form_thead_tr_bg: #182741;
$notes_bg_image: repeating-linear-gradient(#353535, #353535 24px, #757575 24px, #757575 25px, #353535 25px);
$additional_note_color: #999999;
@import 'forms.scss';

/* **************** Estilos para vista de detalles embebidas **************** */
$dt_main_content_bg: #0f0f0f;
$dt_content_bg: #525252;
$dt_title_bg: #353535;
$dt_users_color: #ffffff;
$dsheet_table_border: 2px solid #666666;
$dsheet_tbody_bg: #404040;
$dsheet_td_border: 2px solid #666666;
@import 'details.scss';

/* **************** Estilos para listas **************** */
$dv_border: 1px solid #666666;
$dv_even_bg: #222229;
$dv_thead_bg: #666666;
$dv_tfoot_bg: #666666;
$data_search_border: 1px solid #394b5e;
$dv_tr_h_bg: #222c36;
$dt_tr_h_color: #ffff99;
$path_container_bg: #444444;
@import 'lists.scss';
