/* **************** Estilos generales **************** */
$verdanaV2_url: "../external/fonts/VerdanaV2";
$main_aside_bg: #ffffff;
$main_aside_shadow: #999999;
$main_aside_a_color: initial;
$main_aside_a_hover_color: initial;
$main_aside_a_hover_bg: #d8f5ee;
$main_content_display: table-cell;
$main_content_valign: top;
$main_content_width: calc(100% - 170px);
$main_footer_bg: #333366;
$main_header_bg: #003366;
$main_header_padding: 0px;
$main_header_border: 0px;
$main_nav_display: table-cell;
$main_nav_bg: #909cb5;
$main_nav_width: 150px;
$main_nav_a_h_bg: #6F8ABC;
$main_title_nav_display: none !important;
$main_title_span_width: calc(100% - 120px);
$user_link_color: #d9d9d9;
$user_link_radius: 3px;
$primary_button_bg: #0000ff;
$primary_button_h_bg: #3333ff;
$action_filter_color: #333333;
$action_icons_hover_bg: #d9d9d9;
$module_name_color: #e0e0e0;
$cell_display: table-cell;
$table_display: table;
$table_width: 100%;
$small_button_bg: #d9d9d9;
$input_bg: #e6e6e6;
$checkbox_h_bg: #eeeeff;
@mixin content_section
{
	display: table;
	width: 100%;
}
@mixin link_active_after
{
	top: 16px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ffffff;
	right: 0px;
}
@mixin main_nav_a
{
	display: block;
	padding: 14px 7px;
	margin-bottom: 2px;
	background-color: #56698c;
}
@import 'main.scss';

/* **************** Estilos de formularios **************** */
$form_main_content_bg: linear-gradient(to right, #ffffff, #cccccc 20%);
$close_form_bg: transparent;
$close_form_h_bg: #cccccc;
$details_table_even_bg: #ffffff;
$details_table_odd_bg: #f0f0ff;
$form_content_bg: #ffffff;
$form_content_shadow: 0px 0px 4px 4px #999999;
$form_title_bg: #e6e6e6;
$form_td_border: 1px solid #ffffff;
$form_thead_tr_bg: #4472C4;
$notes_bg_image: repeating-linear-gradient(#e6e6e6, #e6e6e6 24px, #b9b9b9 24px, #b9b9b9 25px, #e6e6e6 25px);
$additional_note_color: #666666;
@import 'forms.scss';

/* **************** Estilos para vista de detalles embebidas **************** */
$dt_main_content_bg: linear-gradient(to right, #ffffff, #cccccc 20%);
$dt_content_bg: #ffffff;
$dt_title_bg: #e6e6e6;
$dt_users_color: #666644;
$dsheet_table_border: 2px solid #ffffff;
$dsheet_tbody_bg: #ededed;
$dsheet_td_border: 2px solid #ffffff;
@import 'details.scss';

/* **************** Estilos para listas **************** */
$dv_border: 1px solid #cccccc;
$dv_even_bg: #f0f0ff;
$dv_thead_bg: #ffffff;
$dv_tfoot_bg: #ffffff;
$data_search_border: 1px solid #99ccff;
$dv_tr_h_bg: #99ccff;
$dt_tr_h_color: #0000ff;
$path_container_bg: #e0e0e0;
@import 'lists.scss';
