$verdanaV2_url: "../../../external/fonts/VerdanaV2";
$main_aside_bg: #ffffff;
$main_aside_shadow: #999999;
$main_aside_a_color: initial;
$main_aside_a_hover_color: initial;
$main_aside_a_hover_bg: #d8f5ee;
$main_content_display: table-cell;
$main_content_valign: top;
$main_content_width: calc(100% - 170px);
$main_footer_bg: #666666;
$main_header_bg: linear-gradient(#4da36a, #1b5830, #156632);
$main_header_padding: 0px;
$main_header_border: 0px;
$main_nav_display: table-cell;
$main_nav_bg: #909cb5;
$main_nav_width: 150px;
$main_nav_a_h_bg: #6F8ABC;
$main_title_nav_display: none !important;
$main_title_span_width: calc(100% - 120px);
$user_link_color: #d9d9d9;
$user_link_radius: 3px;
$primary_button_bg: #305619;
$primary_button_h_bg: #1c6b91;
$action_filter_color: #333333;
$module_name_color: #e0e0e0;
$cell_display: table-cell;
$table_display: table;
$table_width: 100%;
$small_button_bg: #d9d9d9;
@mixin content_section
{
	display: table;
	width: 100%;
}
@mixin link_active_after
{
	top: 16px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ffffff;
	right: 0px;
}
@mixin main_nav_a
{
	display: block;
	padding: 14px 7px;
	margin-bottom: 2px;
	background-color: #395c52;
}
@import 'main.scss';

/* *************** Estilos de formularios ***************** */
$form_main_content_bg: linear-gradient(to right, #ffffff, #cccccc 20%);
$close_form_bg: transparent;
$close_form_h_bg: #cccccc;
$details_table_even_bg: #ffffff;
$details_table_odd_bg: #f0f0ff;
$form_content_bg:#ffffff;
$form_content_shadow: 0px 0px 4px 4px #999999;
$form_title_bg: linear-gradient(#71db79, #3ca552, #51c943);
$form_td_border: 1px solid #f0f0f0;
$form_thead_tr_bg: #215c5a;
$notes_bg_image: repeating-linear-gradient(white, white 24px, #ccc 24px, #ccc 25px, white 25px);
$additional_note_color: #666666;
@import 'forms.scss'
